<div class="container mt-5">
  <div class="panel">
    <div class="panel__header">
      <h5>Editar Clasificaciones</h5>
      <%= link_to 'Cancel', admin_clasifications_path, class: 'btn btn-outline-danger' %>
    </div>
    <div class="panel__content">
      <%= render 'form', url: admin_clasification_path(@clasification) %>
    </div>
  </div>
</div>
